<!DOCTYPE html>
<html>
<head>
    <title>Student Grades</title>
</head>
<body>
    <h1>Student Grades</h1>
    
    <table border="1">
        <tr>
            <th>Student Name</th>
            <th>Module</th>
            <th>Grade</th>
        </tr>
        <% grades.forEach(function(grade) { %>
            <tr>
                <td><%= grade.student_name %></td>
                <td><%= grade.module_name ? grade.module_name : ' ' %></td>
                <td><%= grade.grade ? grade.grade : '-' %></td>
            </tr>
        <% }); %>
    </table>
    
    <p><a href="/">Home</a></p>
</body>
</html>