<!DOCTYPE html>
<html>
<head>
    <title>Students</title>
</head>
<body>
    <h1>Students</h1>
    <table border="1">
        <tr>
            <th>Student ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Action</th>
        </tr>
        <% students.forEach(function(student) { %>
            <tr>
                <td><%= student.sid %></td>
                <td><%= student.name %></td>
                <td><%= student.age %></td>
                <td><a href="/students/edit/<%= student.sid %>">Update</a></td>
            </tr>
        <% }); %>
    </table>
    <p><a href="/students/add">Add Student</a></p>
    <p><a href="/">Home</a></p>
</body>
</html>